@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  transition: all ease 0.3s;
}

*::first-letter {
  text-transform: uppercase;
}

*::-webkit-scrollbar {
  width: 10px;
}
/* heloooo an hahahahah */
*::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  border-radius: 100px;
  overflow: hidden;
}

*::-webkit-scrollbar-thumb {
  background-color: #d4aa70;
  border-radius: 100px;
}

.menu {
  display: none;
}

img {
  width: 100%;
  height: auto;
  vertical-align: middle;
  cursor: pointer;
  object-position: center;
  object-fit: cover;
  display: inline-block;
  height: 100%;
}

/* img:hover{
  transform: scaleX(45deg);
  transition: all 0.7s;
  width: 300px;
  height: 300px;
} */
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.new {
  position: absolute;
  width: 40px;
  background: #f77555;
  color: white;
  border-radius: 10px;
  text-align: center;
  font-size: 0.8rem;
  top: 10px;
  right: 10px;
}

:root {
  --bg-color: #fff;
  --text-color: #fff;
  --hover-color: #f2a18d;
}

body {
  background-color: var(--bg-color);
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
  background: #00000080;
  position: fixed;
  z-index: 1;
  box-shadow: 0 0 90px #00000080;
  top: 0px;
  padding: 0 10%;
  overflow: visible;
}

.header .seconder-header {
  display: flex;
  align-self: center;
  gap: 10px;
  color: var(--text-color);
}
.header .seconder-header .list-heder {
  position: relative;
}
.header .seconder-header .list-heder ul {
  position: absolute;
  background: white;
  color: #0a2f4d;
  top: 53px;
  width: 400px;
  pointer-events: none;
  left: 0;
  opacity: 0;
}
.header .seconder-header .list-heder ul li {
  font-size: 14px;
  padding: 7px 10px;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
}
.header .seconder-header .list-heder ul li a {
  display: flex;
  flex-direction: column;
  color: black;
}
.header .seconder-header .list-heder ul li:hover {
  background: var(--hover-color);
  color: black;
}
.header .seconder-header .list-heder a {
  color: white;
}
.header .seconder-header .list-heder:hover > ul {
  opacity: 1;
  pointer-events: all;
}
.header .seconder-header div {
  padding: 15px 5px;
}

.header .seconder-header div.active a {
  font-weight: 600;
  color: var(--hover-color);
}

.header .seconder-header > div:hover {
  cursor: pointer;
  border-bottom: 2px solid var(--hover-color);
}

.header .seconder-header > div:hover a {
  color: var(--hover-color);
}

.banner {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 1rem;
}

.banner-contact {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 1rem;
}

.banner-contact h1 {
  position: absolute;
  color: white;
}
.banner-contact p {
  position: absolute;
  color: white;
  top: 60%;
}

.banner img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.banner::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #00000046;
}

.banner-contact img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.banner-contact::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #00000046;
}

.header .logo {
  font-size: 2rem;
  font-weight: 700;
  color: var(--hover-color);
  cursor: pointer;
}

.logo-popup {
  background-color: #f2a18d;
  color: black;
  padding: 5px 4px;
  font-weight: 600;
  display: none;
  position: absolute;
  top: 45px;
  transition: all 0.1s ease;
  left: 39px;
  border-radius: 4px;
}

.logo-popup::before {
  content: "";
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid var(--hover-color);
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  right: 50%;
  top: -14px;
  position: absolute;
}

.header .logo:hover ~ .logo-popup {
  display: initial;
  transition: all 1s ease;
}

.coursel {
  position: absolute;
  color: black;
  width: 96%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.coursel div {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgb(29, 2, 2);
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  font-weight: 600;
  cursor: pointer;
  color: #fff;
  justify-content: center;
}

.department,
.student {
  background: #0a2f4d;
  width: max-content;
  height: max-content;
  padding: 10px 7px;
  display: flex;
  gap: 4px;
  align-items: center;
  color: white;
}
.student .emoji{
  width: 50px;
  overflow: visible;
  height: 50px;
}
.departement-count > div:nth-child(1) {
  font-weight: 600;
}

.departement-count > div:nth-child(2) {
  font-size: 0.9rem;
}

.about {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 3rem;
}

.hirelight-biblio {
  display: grid;
  grid-template-columns: repeat(2, 50%);
}

.left-blio h1 {
  line-height: 2.5rem;
  margin-bottom: 1rem;
}

.left-blio .link {
  background: #0a2f4d;
  color: white;
  border-radius: 20px;
  padding: 10px 20px;
  width: max-content;
  margin-top: 0.6rem;
}

.link:hover {
  background-color: white;
  cursor: pointer;
  color: #0a2f4d;
  border: 2px solid #0a2f4d;
}

.hirelight-biblio .left-blio {
  padding: 0 4rem;
}

.actualites {
  margin-top: 1rem;
}

.actualites .title {
  text-align: center;
  margin: 4rem 0;
}

.actuatites-items {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(5, 230px);
  gap: 1rem;
  /* background-color: #09406d; */
}

.actuatites-items .actualites-items-item {
  display: block;
  box-shadow: 5px 10px 5px 5px#dbdbdb4f;
  border-radius: 10px;
  height: max-content;
  padding-bottom: 1rem;
}

.actuatites-items .actualites-items-item .photo {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 150px;
  position: relative;
}

.actuatites-items .actualites-items-item .photo img {
  /* border-radius: 10px; */
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  cursor: pointer;
}

.desc-top-title {
  font-weight: 600;
  color: #313131a6;
  padding: 7px 5px;
}

.time-post {
  font-size: 0.8rem;
  padding: 3px 5px;
  color: rgba(151, 146, 137, 0.952);
}

.actualites-items-item .description {
  font-size: 0.996rem;
  padding: 0 5px;
  line-height: 1.2rem;
  letter-spacing: 0.5px;
  margin-bottom: 0.5rem;
  cursor: pointer;
}

.actualites-items-item .description:hover {
  color: #09406d;
}

.title-test-mon {
  font-weight: 700;
  font-size: 1.4rem;
  margin: 3rem 4rem;
}

.footer {
  margin-top: 1rem;
  background: #09406d;
}

.seconde-footer {
  width: 100%;
  height: max-content;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(4, 23%);
  word-break: break-all;
  gap: 3rem;
  padding: 4rem 4rem 0;
}

.footer h4 {
  color: white;
  margin-bottom: 2rem;
  border-bottom: 3px solid #f77555;
  padding-bottom: 15px;
  width: max-content;
}

.desc-logo h2 {
  color: white;
  margin-bottom: 2rem;
}

.desc-logo p {
  color: #c4c4c4;
}

.desc-logo ul {
  display: flex;
  gap: 15px;
  padding: 10px 0;
}

.desc-logo ul li {
  font-size: 1.1rem;
  cursor: pointer;
  font-weight: 600;
  background: white;
  display: flex;
  width: 20px;
  height: 20px;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.desc-logo ul li:nth-child(1) {
  color: blue;
}

.desc-logo ul li:nth-child(2) {
  color: #1da1f2;
}

.desc-logo ul li:nth-child(3) {
  color: #f90000;
}

.desc-logo ul li:nth-child(4) {
  color: #e60023;
}

.desc-logo ul li:nth-child(5) {
  background: white;
  display: flex;
}

.desc-logo ul li:nth-child(5) img {
  width: 80%;
  height: 80%;
  align-items: center;
  justify-content: center;
}

.desc-logo ul li:nth-child(6) {
  color: green;
}

.address ul li {
  margin-bottom: 20px;
}

.address ul li a {
  color: #c4c4c4;
}

.formations ul li {
  margin-bottom: 0.8rem;
  cursor: pointer;
  color: #c4c4c4;
}

.latest-question-add div {
  margin-bottom: 0.8rem;
  cursor: pointer;
  color: #c4c4c4;
}

.copy {
  border-top: 2px solid #0a2f4d;
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}

.terms {
  display: flex;
  gap: 1rem;
}

/* nos-formations */
.nos-formations-container {
  max-width: 1310px;
  margin: auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  overflow: hidden;
  box-shadow: 1px 2px 2px 1px #00000046;
  margin-top: 1rem;
}

.nos-formations {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.nos-info {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0a2f4d;
  color: white;
  padding: 0.5rem;
}

.nos-formations:hover {
  border-radius: 10px;
}

.nos-formations .available-formation {
  gap: 10px;
  width: 100%;
  /* border-radius: 10px; */
  padding: 1rem;
  /* box-shadow: 1px 2px 2px 1px #00000046; */
  background-color: #ffffff;
  color: #0a2f4d;
  margin: 0.3rem;
}

.nos-formations .available-formation:hover {
  gap: 10px;
  margin: -0.3rem;
  max-width: 100%;
  padding: -0.2rem;
  background-color: #0a2f4d;
  color: #fff;
}

.nos-formations .available-formation:nth-child(6):hover {
  margin-right: 0;
  margin: 0;
  padding: 0;
}

.nos-formations .available-formation li {
  padding: 0.4rem;
  margin: 0;
  cursor: pointer;
  /* list-style: none; */
  font-size: 0.7rem;
}

.nos-formations .available-formation li:hover {
  color: #f3927a;
  margin-left: 0.4rem;
}

.nos-formations .available-formation h4 {
  color: #f3927a;
  padding: 0.2rem;
  font-size: 1.1rem;
  font-weight: 700;
  /* font-family: Inter; */
}

/*================ testmony =======================*/
.container {
  width: 100%;
  display: flex;
  height: max-content;
  margin-bottom: 20px;
}

.testmonial {
  padding: 50px 0;
  position: relative;
  max-width: 650px;
  width: 100%;
  background: white;
  height: 100%;
}
.testmonial .image {
  width: 170px;
  height: 170px;
  object-fit: cover;
  border-radius: 50%;
}
.testmonial .slide {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 10px;
  row-gap: 20px;
}
.slide p {
  padding: 0 160px;
  text-align: center;
  color: #333;
  font-size: 14px;
}
.slide .quote {
  font-size: 30px;
  color: #4070f4;
}
.datails {
  text-align: center;
}
.datails .name {
  font-size: 14px;
  color: #333;
  font-weight: 600;
}
.datails .job {
  font-size: 12px;
  color: #333;
  font-weight: 400;
}
.more-coment {
  background: #0a2f4d;
  color: white;
  border-radius: 20px;
  padding: 10px 10px;
  width: 150px;
  margin: auto;
  text-align: center;
}
.more-coment a {
  color: white;
}
.more-coment:hover {
  background-color: white;
  cursor: pointer;
  color: #0a2f4d;
  border: 1px solid #0a2f4d;
}
.more-coment:hover a {
  border: none;
  color: #0a2f4d;
}
/* ========================page contact================================== */
.members-contact {
  width: 90%;
  margin: auto;
  margin-bottom: 1rem;
  justify-content: space-between;
  display: flex;
  gap: 1rem;
}

.membre {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.title-membre {
  font-size: 1.1rem;
  padding: 5px;
  margin-bottom: 1rem;
  border-bottom: 2px solid var(--hover-color);
  color: #0a2f4d;
  font-weight: 800;
}

.contact div img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.contact div {
  margin-bottom: 0.9rem;
  display: flex;
  align-items: center;
}
.contact-me {
  display: flex;
}

.contact-me {
  width: 90%;
  margin: auto;

  margin-bottom: 2rem;
  margin-top: 2rem;
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
}
.h1-to-contact {
  text-align: center;
  padding: 20px;
}

.left-talk-to-me {
  width: 400px;
}
.left-talk-to-me img {
  width: 100%;
  height: max-content;
}
.right-talk-to-me {
  width: 400px;
  height: 500px;
  padding: 1rem;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.048);
}
.right-talk-to-me form {
  width: 100%;
}
.right-talk-to-me form div {
  width: 100%;
  height: 50px;
  margin-bottom: 0.5rem;
}
.right-talk-to-me form div input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 0 5px;
  background: #c4c4c42a;
  font-size: 0.92rem;
}
.right-talk-to-me form textarea {
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 10px 10px;
  font-size: 0.92rem;
  background: #c4c4c42a;
  width: 100%;
}
.right-talk-to-me button {
  padding: 12px 7px;
  border: none;
  outline: none;
  background: #09406d;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
  margin-left: 60%;
  margin-top: 1rem;
}
.options-faculite {
  width: 60%;
  gap: 5px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.options-faculite div {
  background: #09406d;
  width: 100%;
  padding: 5px 10px;
  text-align: center;
  color: white;
  cursor: pointer;
}
.options-faculite div:hover {
  background: white;
  border: 1px solid #0a2f4d;
  color: #09406d;
}
.options-faculite div.active {
  background: white;
  border: 1px solid #0a2f4d;
  color: #09406d;
}
.content-tice {
  width: 90%;
  margin: auto;
  gap: 1rem;
  display: grid;
  grid-template-columns: 200px auto;
  margin-top: 1rem;
}
.chapiteter ul {
  padding: 10px 0;
}
.chapiteter ul li {
  cursor: pointer;
  padding: 15px 0;
}
.chapiteter ul li a {
  color: #0a2f4d;
}
.chapiteter ul li:hover > a {
  border-bottom: 1px solid #0a2f4d;
}
.title-content {
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.title-content div:nth-child(1) {
  width: 20px;
  height: 20px;
  position: relative;
}
.title-content div:nth-child(2) {
  font-size: 17px;
  font-weight: 600;
  color: #09406d;
}
.title-content div:nth-child(1)::before {
  content: "";
  width: 0;
  position: absolute;
  height: 0;
  border-bottom: 10px solid transparent;
  border-top: 10px solid transparent;
  border-left: 10px solid #09406d;
  border-right: 10px solid transparent;
}
.mission-list {
  list-style: decimal;
  margin-top: 0.7rem;
  margin-left: 5rem;
  font-size: 0.97rem;
}
.title-content.sous-list div:nth-child(1)::before {
  content: "";
  width: 0;
  position: absolute;
  height: 0;
  border-bottom: 8px solid transparent;
  border-top: 8px solid transparent;
  border-left: 8px solid #0778d4;
  border-right: 8px solid transparent;
}
.bachelier {
  padding: 10px 0;
  display: block;
}
.title-content.sous-list {
  margin-left: 2rem;
}
.title-content.sous-list ~ p {
  margin-left: 2.2rem;
}
.list-Aptitudes {
  margin-left: 2.2rem;
  font-size: 15px;
  list-style: circle;
}
  /* PARTENAIRES */
.nos-partenaires {
  max-width: 1250px;
  margin: auto;
  margin-top: 2rem;
  background-color: #ffffff7a;
  box-shadow: 5px 2px 20px 5px #00000021;

}
.partenaires {
  display: grid;
  grid-template-columns: repeat(5,1fr);

  
  
}
 .nos-partenaires .partenaire-header-div {
  width: 1250px;
  justify-content: center;
  align-items: center;
  display: flex;
  margin: auto;
} 
.nos-partenaires .partenaire-header-div .partenaire-header {
  color: #09406d;
  font-size: 25px;
  font-weight: 800;
  padding: 1rem;
  font-family: Inter ,sans-serif;
}
.nos-partenaires .partenaire-header-div .partenaire-header:hover {
  color: #fda38d;
  margin-left: -1rem;
}
.partenaire .title-partenaire {
  color: #fda38d;
  margin-left: 30%;
}
.partenaire .title-partenaire:hover {
  color: #09406d;
  margin-left: 1rem;
}
.partenaire {
  padding: 0.5rem;
}
.partenaire img {
  width: 230px;
  height: 200px;
  border-radius: 5px;
}
/* RICHESSE  */
.richesse {
  max-width: 1330px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2,1fr);
}
.richesse .richesse-container {
  height: 300px;
  margin: 0.5rem;
  margin-top: 3rem;

}
.img-desc-richesse {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  height: 270px;


}
.img-desc-richesse:hover {
  border-right: 2px solid #fda38d;

}
.img-desc-richesse p {
  padding: 0.4rem;
}
.img-desc-richesse .subtitle-richesse {
  color: #09406d ;
  font-size: 15px;
  font-weight: 800;
}
.desc-richesse {
  display: grid;
  grid-template-columns: repeat(1,1fr);
}
.title-richesse {
  color: #09406d;
  font-size: 25px;
  font-weight: 800;
  padding: 1rem;
  font-family: Inter,sans-serif;
}
.img-desc-richesse img {
  height: 270px;
  border-radius: 10px;

}
.title-richesse:hover {
  color: #fda38d;
  margin-left: -1rem;
}
.img-desc-richesse a {
  color: blue;
}
.img-desc-richesse a:hover ,
.subtitle-richesse:hover{
  margin-left: 1rem;
    color: #1da1f2;

}
.paragraphe-richesse {
  color: rgb(0, 0, 0);
 
}
.paragraphe-richesse:hover {
   font-weight: 800;
  color: black;
}
@media screen and (max-width: 31.25em) {
  .header {
    display: flex;
  }

  .header .seconder-header {
    display: block;
    align-self: center;
    gap: 10px;
    color: white;
    position: absolute;
    right: -60px;
    height: max-content;
    background-color: #0a2f4d;
    width: 100%;
    width: 200px;
    text-align: start;
    transform: translate(1000px);
    transition: all ease 0.5s;
  }

  .header .seconder-header.open {
    transform: translate(0px);
  }

  .menu {
    display: initial;
    color: white;
  }

  .banner {
    z-index: -1;
  }
}
